{% extends "zblog/base.html" %}

{% block 'navigation' %}
<div class="navbar-collapse bs-navbar-collapse" role="navigation">
  <ul class="nav navbar-nav" role="tablist">
    <li role="presentation"><a href="{% url 'index' %}">首页</a></li>
    <li role="presentation"><a href="{% url 'article' %}">博文</a></li>
    <li role="presentation"><a href="{% url 'album' %}">光影</a></li>
    <li role="presentation"><a href="{% url 'music' %}">音乐</a></li>
    <li role="presentation" class='active'><a href="{% url 'about' %}">个人简介</a></li>
  </ul>
  <form class="navbar-form pull-right" method="get" action="/">
      <input type="text" class="form-control" name="s" id="s">
      <button type="submit" class="btn btn-default">搜索</button>
  </form>
</div>
{% endblock %}

{% block content %}
<hr/>
<p>
    网站源码:<a href="https://github.com/zhengze/zblogsite">https://github.com/zhengze/zblog</a>
</p>
<p>
    CSDN帐号:<a href="http://blog.csdn.net/duomoke">http://blog.csdn.net/duomoke</a>
</p>
<p>
        写站的初衷很简单，我姥姥家的亲戚在外省，自从小时候回到籍贯地，再没有看到过他们。
    逢年过节，亲戚们想看看我长啥样了，我总是没有照片，或者还得用手机传彩信。
    为了让他们看到我的近况，终于下决心写一个个人网页。
{% endblock %}
