{% extends "zblog/album.html" %}

{% block content %}
    <div class='container-fluid'>
        <ol class="breadcrumb">
            <li><a href="{% url 'album' %}">所有相册</a></li>
            <li class="active">{{album_obj.name}}</li>
        </ol>
        <hr/>
        {% for photo in photo_list %}
            <div class="col-md-4">
                <div class="well">
                    <div><a href="{% url 'original_photo' album_obj.id photo.id %}"><img src="{{photo.photo.url}}" class="img-responsive img-thumbnail" style="width:200px;height:250px" alt="Responsive image"/></a></div>
                    <div><p class="text-left">{{photo.description}}</p></div>
                    <div class="pull-right">{{photo.created_time|date:"Y-m-d H:i:s"}}</div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-8">
        <ul class="pagination">
            <li><a href="{{ request.path }}?page=1">«</a></li>
              {% if page_obj.has_previous %}
                <li><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">上一页</a></li>
              {% else %}
                <li class="previous disabled"><a>上一页</a></li>
              {% endif %}
              {% for i in page_obj.paginator.page_range %}
                <li {% if page_obj.number == i %}class="active"{% endif %}><a href="{{ request.path }}?page={{ i }}">{{ i }}</a></li>
              {% endfor %}
              {% if page_obj.has_next %}
                <li><a href="{{ request.path }}?page={{ page_obj.next_page_number }}">下一页</a></li>
              {% else %}
                <li class="previous disabled"><a>下一页</a></li>
              {% endif %}
              <li><a href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}">»</a></li>
        </ul>
    </div>
{% endblock %}

{% block comments %}
    <hr/>
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2040209"></script>
    <!-- UY END -->
{% endblock %}
