[[source]]

url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

httpie = "*"


[packages]

django = "==1.11.2"
django-webpack-loader = "==0.5.0"
olefile = "==0.44"
pillow = "==4.1.1"
pymysql = "==0.7.11"
pytz = "==2017.2"
markdown = "*"
djangorestframework = "*"
