[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
httpie = "*"
tox = "*"
pylint = "*"

[packages]
Django = "==1.11.2"
django-webpack-loader = "==0.5.0"
olefile = "==0.44"
Pillow = "==8.2.0"
PyMySQL = "==0.7.11"
pytz = "==2017.2"
Markdown = "*"
djangorestframework = "*"
tox = "*"
