alabaster==0.7.10
argh==0.26.2
Babel==2.6.0
backports-abc==0.5
certifi==2018.4.16
chardet==3.0.4
Django==1.11.2
django-webpack-loader==0.5.0
djangorestframework==3.8.2
docutils==0.14
httpie==0.9.9
idna==2.6
imagesize==1.0.0
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
olefile==0.44
packaging==17.1
pathtools==0.1.2
Pillow==4.1.1
pluggy==0.6.0
port-for==0.3.1
py==1.5.3
Pygments==2.2.0
PyMySQL==0.7.11
pyparsing==2.2.0
pytz==2017.2
PyYAML==5.4
requests==2.18.4
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
sphinxcontrib-websupport==1.1.0
tox==3.0.0
typing==3.6.4
urllib3==1.22
virtualenv==16.0.0
watchdog==0.8.3
