{% extends "zblog/index.html" %}

{% block content %}

    <div>
    {% if article %}
        <div>
            <h3>{{ article.title }}</h3>
            <hr/>

            |分类:<a href="">{{article.classify}}</a> |标签:<span class="label label-primary">{{article.tag}}</span> |阅读:<span class="badge">{{article.hits}}</span> |发表时间:{{article.created_time|date:"Y-m-d H:i:s"}}<br/><br/>
            <pre>{{article.content}}</pre>

        </div>
    {% endif %}

    </div>

{% endblock %}
    
{% block comments %}
    <hr/>
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2040209"></script>
    <!-- UY END -->
{% endblock %}
